*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: FontAwesome;
    background-color: whitesmoke;
}

/* Mobile First design */
/* Header Section */
header {
    width: 100%;
    background-color: #34245a;
    color: white;
    height: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

header h1 {
    text-align: center;
    font-size: 34px;
    font-variant: small-caps; 
    margin: 20px;
    padding: 20px;
}

/* Search section */

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.search h2 {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.query,
.city-display {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    max-width: 350px;
}

.form-control{
    width: 90%;
    max-width: 350px;
    height: 35px;
}

.btn {
    width: 20%;
    height:35px;
    background-color:#34245a;
}
 
#search-button {
    border-radius: 0 .25rem .25rem 0;
}
.city-display {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
}

.city {
    margin: 5px;
    width: 90%;
    max-width: 350px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

/* Display result section */

.heading {
    display: flex;
}

.heading h2 {
    margin: 10px 2px 15px 2px;
    padding:2px;
    font-variant: small-caps;
    font-weight: bold;
    color: #34245a;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list ul,
.row div ul {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
}

.list ul li {
    font-size: 16px;
    text-align: justify;
}

#icon {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

/* 5 days forecast section */

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    flex-grow: inherit; 
    margin: 0;
}

.col {
	width: 90%;
    height: auto;
	background-color: whitesmoke;
	border-radius: 30px;
	padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34245a;
}

.col h3 {
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
}

.col img {
    width: 40px;
    height: 40px;
    border: 2px solid grey;
}

.col ul li {
    color: whitesmoke;
}

/* .errormsg {
    display: block;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 120px;
    right:100px; 
} */

.modal {
    width: 70%;
    height: 40%;
    
}

/* Media Queries */

@media screen and (min-width: 600px) {

    #search-input{
        max-width: 320px;
    }

    .row {
        flex-direction: row;
        width: 80%;
        justify-content: center;  
    }
    .col {
        width: 100%;
    }
}

/* For laptops */

@media screen and (min-width: 1200px) {
    #searchbox {
        width:50%;
        display: block;
        float: left;
    }

    .displayres, 
    .displayday {
        width:50%;
        padding-right: 50px;
        display: block;
        float: right;
    }

    .hide {
        display: none;
    }

    .show {
        display: flex;
    }
}