*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: FontAwesome;
    background-color: whitesmoke;
    color: #34245a;
}

/* Mobile First design */
/* Header Section */
header {
    width: 100%;
    background-color: #34245a;
    color: white;
    height: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 50;
}

header h1 {
    text-align: center;
    font-size: 34px;
    font-variant: small-caps; 
    margin: 20px;
    padding: 20px;
}

/* Search section */

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    z-index: 2;
}

.search h2 {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.query,
.city-display {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    max-width: 350px;
}

.form-control{
    width: 90%;
    max-width: 350px;
    height: 35px;
}

.form-control::placeholder {
    color: #34245a;
    font-variant: small-caps;
    font-size: medium;
}

.btn {
    width: 20%;
    height:35px;
    background-color:#34245a;
}
 
#search-button {
    border-radius: 0 .25rem .25rem 0;
}
.city-display {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
}

.city {
    margin: 5px;
    width: 90%;
    max-width: 350px;
    height: 35px;
    background-color: white;
    color: #34245a;
    font-weight: bold;
    display: inline;
    padding: 5px;
}

/* Display result section */

.heading {
    display: flex;
    z-index: 2;
}

.heading h2 {
    margin: 10px 2px 15px 2px;
    padding:2px;
    font-variant: small-caps;
    font-weight: bold;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list ul,
.row div ul {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
}

.list ul li {
    font-size: 16px;
    text-align: justify;
}

#icon {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
}

/* 5 days forecast section */


.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    flex-grow: inherit; 
    margin: 0;
    z-index: 2;
}

.col {
	width: 90%;
    height: auto;
	background-color: whitesmoke;
	border-radius: 30px;
	padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34245a;
    opacity: 90%;
}

.col h3 {
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
}

.col img {
    width: 40px;
    height: 40px;
    border: 2px solid grey;
}

.col ul li {
    color: whitesmoke;
}

.modal {
    width: 100%;
    height: 40%; 
    z-index: 10;
}

.modal-dialog {
    min-width: 80%;
    min-height: 40%;
    margin-top: -50%;
}

.modal-body {
    font-size: medium;
    font-weight: bold;
}

#uv-index {
    min-width: 14px;
    border: 2px solid whitesmoke;
    border-radius: 20%;
    padding: 0 10px 0 10px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

/* Media Queries for tablets*/

@media screen and (min-width: 600px) {

    #search-input{
        max-width: 320px;
    }

    .modal-dialog {
        margin-top: -10%;
    }

    .row {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: stretch; 
        flex-grow: inherit; 
    }

    .col {
        min-width: 300px;
    }

    .col h3,
    .modal-title {
        font-size: 25px;
    }

    .col ul li,
    .list ul li,
    .modal-body,
    .form-control::placeholder {
        font-size: 20px;
    }

    .city {
        font-size: 16px;
    }

}

/* For laptops */

@media screen and (min-width: 1200px) {

    header h1 {
        font-size: 55px;
    }

    .search h2 {
        text-align: start;
    }

    #searchbox {
        width:35%;
        min-height: 400px;
        display: block;
        float: left;
        padding-left: 8%;
        padding-top: 2%;
    }

    .modal-dialog {
        margin-top: 10%;
        min-width: 50%;
    }

    .displayres, 
    .displayday {
        width:60%;
        padding-right: 20%;
        display: block;
        float: right;
    }

    .city-display {
        max-width: 370px;
        padding-left: 0;
    }

    .col {
        flex: 1;
    }

    .hide {
        display: none;
    }

    .show {
        display: flex;
    }
   
}